{{ define "content" }}

<div id="top">
    <div id="error"></div>
    {{ template "views/components/account-create-form.gohtml" }} 
</div>
<div id="component-list" hx-get="/component/accounts" hx-trigger="load, new-accounts from:body"></div> 
{{ end }}
